@font-face {
  font-family: "Banana Grotesk";
  src: local("Banana Grotesk Thin"),
   url(~assets/fonts/BananaGrotesk-Thin.otf) format("otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Banana Grotesk";
  src: local("Banana Grotesk Extra Light"),
   url(~assets/fonts/BananaGrotesk-Extralight.otf) format("otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Banana Grotesk";
  src: local("Banana Grotesk Light"),
   url(~assets/fonts/BananaGrotesk-Light.otf) format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Banana Grotesk";
  src: local("Banana Grotesk Regular"),
   url(~assets/fonts/BananaGrotesk-Regular.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Banana Grotesk";
  src: local("Banana Grotesk Medium"),
   url(~assets/fonts/BananaGrotesk-Medium.otf) format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Banana Grotesk";
  src: local("Banana Grotesk Semi Bold"),
   url(~assets/fonts/BananaGrotesk-Semibold.otf) format("otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Banana Grotesk";
  src: local("Banana Grotesk Bold"),
   url(~assets/fonts/BananaGrotesk-Bold.otf) format("otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Banana Grotesk";
  src: local("Banana Grotesk Extra Bold"),
   url(~assets/fonts/BananaGrotesk-Extrabold.otf) format("otf");
  font-weight: 900;
  font-style: normal;
}
