@mixin font(
  $size: 16px,
  $height: 16px,
  $color: black,
  $weight: normal
) {
  font-size: $size;
  line-height: $height;
  color: $color;
  font-weight: $weight;
}

@mixin circle($size) {
  height: $size;
  width: $size;
  min-width: $size;
  border-radius: 50%;
}
