html {
  font-family: "Banana Grotesk", sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  height: 1px;
  background-color: #ebebeb;
}

.container {
  margin: 0 auto;
  max-width: 1644px;
  transition: max-width 300ms ease-in-out;
  @include down(1644px) {
    max-width: 1264px;
  }
  @include on("md") {
    max-width: 90%;
  }
}

.c-button {
  border-radius: 8px 0;
}

.flex {
  display: flex;
}

.j-center,
.justify-center {
  justify-content: center;
}

.a-center,
.align-center {
  align-items: center;
}

.w-100,
.w100 {
  width: 100%;
}

.relative {
  position: relative;
}

.circle {
  border-radius: 50%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ws-nw {
  white-space: nowrap;
}

.hon-sm,
.hon-tablet {
  @include on("sm") {
    display: none !important;
  }
}

.hon-xs,
.hon-mobile {
  @include on("xs") {
    display: none !important;
  }
}

.von-xs,
.von-mobile {
  @include up(600px) {
    display: none !important;
  }
}
