html {
  font-family: 'Banana Grotesk', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  height: 1px;
  background-color: #EBEBEB;
}

.container{
  margin: 0 auto;
  max-width: 1644px;
}

.c-button {
  border-radius: 8px 0 ;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.w-100,
.w100 {
  width: 100%;
}

.relative {
  position: relative;
}

.circle {
  border-radius: 50%;
}

.center {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
